<h3>Application for Joe</h3>

<div style="margin-top: 60px;">
    <span class="col-md-6 col-md-offset-3">
    <input type="text" class="form-control" ng-model="searchString" placeholder='Type your keyword'
           ng-change="search()"/>
    </span>
</div>

<div class="clearfix"></div>
Found the result number is : {{ results.length }}
<table id="list_articles" class="table table-striped table-condensed" style="margin-top: 60px;">
    <thead>
    <tr>
        <th style="max-width: 400px;">Content</th>
        <th style="width: 150px;">Date</th>
        <th style="width: 150px;">Link</th>
        <th style="width: 200px;">Website</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in results">
        <td>{{ result.content }}</td>
        <td>{{result.date_time * 1000| date:'HH:mm dd-MM-yyyy'}}</td>
        <td><a href="{{ result.id }}">original link</a></td>
        <td>{{ result.website }}</td>
    </tr>
    </tbody>
</table>

<!--

<table id="list_of_beers" class="table table-striped table-condensed" style="margin-top: 60px;">
    <thead>
    <tr>
        <th style="min-width: 80px;">Name</th>
        <th style="min-width: 80px;">Producer</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in results">
        <td><a href="#/beers/{{result.id}}">{{ result.name }}</a></td>
        <td>{{ result.producer }}</td>
    </tr>
    </tbody>
</table>



<a href="#/newBeer" class="btn btn-small btn-primary">Insert New Beer</a>
<a href="#/beers" class="btn btn-small btn-primary">Full List</a>
-->